/*
    Autor: Ramiro Ramirez Ramirez
    Fecha de creación:20 de Abril 2022
    Fecha de Actualización: 11 de Mayo de 2022
    Descripción:
*/


form{
    text-align: center;
    margin: 2px;
    
}
button{
    margin: 10px;
    padding: 5px 15px 5px 15px;
    color: white;
    background: gray;
    backdrop-filter: blur(3px);
    border-radius: 5px;
    transition: all 0.6s;
    text-align: center;
}
.hover{
    box-shadow: 0 5px 20px rgba(0,0,0,0.3),
    inset 0 1px 1px white,
    inset 0 -1px 1px rgb(90, 90, 90),
    inset 0 -5px 1px rgb(179, 179, 179),
    inset 0 -10px 10px white;
}

.login-box {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  padding: 10px;
  transform: translate(-50%, -50%);
  background: rgba(0,0,0,0.1);
  box-sizing: border-box;
  border-radius: 10px;
}

.login-box h2 {
  margin: 0 0 20px;
  padding: 0;
  color: deepskyblue;
  font-family: cursive;
  text-align: center;
}

.login-box .user-box {
  position: relative;
}

.login-box .user-box input {
  width: 100%;
  padding: 10px 0;
  font-size: 15px;
  color: deepskyblue;
  margin-bottom: 10px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}
